<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite-FK" thread-count="2" parallel = "tests">

<listeners>
		<listener class-name="extendReport.ExtentTestNGIReporterListener" />
	</listeners>
	
  <test name="ChromeTest">
  <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="test.TestNG_FK"/>
    </classes>
  </test> <!-- Test-FK -->
  
   <test name="EdgeTest">
  <parameter name="browser" value="Edge"/>
    <classes>
      <class name="test.TestNG_FK"/>
    </classes>
  </test> <!-- Test-FK -->
  
  
</suite> <!-- Suite-FK -->


